@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("CalSans-SemiBold.woff2") format("woff2"), url("CalSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@mixin fontSettings() {

}

body {
  line-height: 1;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}