@media (max-width: 1092px) {
  .header {
    &__container {
      gap: 50px;
      min-height: 80px;
    }
  }

  .menu {
    &__list {
      column-gap: 40px;
    }
  }

  .main {

    padding-bottom: 30px;

    &__content {
      flex: 0 0 60%;
      padding-bottom: 0;
    }

    &__decor {
      flex: 0 0 40%;
    }

    &__image img {
      width: 100%;
    }
  }

  .store {
    &__title {
      margin-bottom: 40px;
    }
  }

  .body-store {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 54px;
    }
  }

  .categories {
    &_items {
      column-gap: 35px;
    }
  }


}



@media (max-width: 768px) {
  .page {
    &__store {
      margin-bottom: 50px;
    }
  }

  .title {
    font-size: 38px;
  }

  .header {
    &__container {
      min-height: 70px;
    }
  }

  .main {
    padding-bottom: 0;

    &__content {
      flex: 1 1 100%;
      padding-right: 0;
      padding-top: 80px;
    }

    &__decor {
      display: none;
    }
  }

  .actions-main {
    &__button {

    }
  }

  .store {
    &__title {
      margin-bottom: 20px;
    }
  }

  .body-store {
    &__items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 54px;
    }
  }

  /*--Categories--*/
  .page {
    &__categories {
      margin-bottom: 50px;
    }
  }

  .categories {
    &__title {
      margin-bottom: 30px;
    }

    &_items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /*--Brands--*/
  .page {
    &__brands {
      margin-bottom: 50px;
    }
  }

  .brands {
    &__title {
      margin-bottom: 30px;
    }

    &__items {
      grid-template-columns: repeat(2, auto);
      row-gap: 40px;

    }
  }

  /*--Why--*/
  .page {
    &__why {
      padding: 50px 0 15px;

    }
  }

  .why {
    &__title {
      margin-bottom: 0;
    }

    &__items {
      grid-template-columns: repeat(2, auto);
      row-gap: 0;
    }
  }

}


@media (max-width: 500px) {
  .header {
    &__container {
      gap: 20px;
    }

    &__logo {
      width: 28px;
      overflow: hidden;
      flex: 0 0 28px;
    }
  }

  .menu {
    padding: 0;
    &__list {
      column-gap: 20px;
    }
  }

  .main {
    &__content {
      flex: 1 1 100%;
      padding-right: 0;
      padding-top: 80px;
    }

    &__decor {
      display: none;
    }
  }

  .actions-main {
    flex-wrap: wrap;
    justify-content: center;

    &__button {
      flex: 1 1 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  .item-store__image {
    &:not(:last-child){
      margin-bottom: 0;
    }
  }

  /*--Categories--*/
  .categories {
    &_items {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 15px;
      row-gap: 15px;
    }
  }

  /*--Brands--*/
  .brands {
    &__items {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
      row-gap: 25px;
      column-gap: 15px;

    }
  }

  /*--Why--*/
  .page {
    &__why {
      padding: 50px 0 50px;

    }
  }

  .why {
    &__title {
      margin-bottom: 0;
    }

    &__items {
      grid-template-columns: repeat(1, auto);
      row-gap: 0;
    }
  }

  .item-why {
    padding-bottom: 0;
  }
}

