@media (max-width: 1092px) {
  .header__container {
    gap: 50px;
    min-height: 80px;
  }
  .menu__list {
    column-gap: 40px;
  }
  .main {
    padding-bottom: 30px;
  }
  .main__content {
    flex: 0 0 60%;
    padding-bottom: 0;
  }
  .main__decor {
    flex: 0 0 40%;
  }
  .main__image img {
    width: 100%;
  }
  .store__title {
    margin-bottom: 40px;
  }
  .body-store__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
  }
  .categories_items {
    column-gap: 35px;
  }
  /*--Reviews--*/
  .page__reviews {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .reviews__title {
    margin-bottom: 80px;
  }
  .reviews__swiper.swiper {
    margin-left: -15px;
  }
  /*Favorite*/
  .page__favorite {
    margin-bottom: 60px;
  }
  .favorite__container {
    flex-direction: column;
  }
  .favorite__body {
    flex: 0 1 100%;
  }
  .favorite__images {
    flex: 0 1 100%;
  }
  .favorite__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .page__store {
    margin-bottom: 50px;
  }
  .title {
    font-size: 38px;
  }
  .header__container {
    min-height: 70px;
  }
  .main {
    padding-bottom: 0;
  }
  .main__content {
    flex: 1 1 100%;
    padding-right: 0;
    padding-top: 80px;
  }
  .main__decor {
    display: none;
  }
  .store__title {
    margin-bottom: 20px;
  }
  .body-store__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 54px;
  }
  /*--Categories--*/
  .page__categories {
    margin-bottom: 50px;
  }
  .categories__title {
    margin-bottom: 30px;
  }
  .categories_items {
    grid-template-columns: repeat(2, 1fr);
  }
  /*--Brands--*/
  .page__brands {
    margin-bottom: 50px;
  }
  .brands__title {
    margin-bottom: 30px;
  }
  .brands__items {
    grid-template-columns: repeat(2, auto);
    row-gap: 40px;
  }
  /*--Why--*/
  .page__why {
    padding: 50px 0 15px;
  }
  .why__title {
    margin-bottom: 0;
  }
  .why__items {
    grid-template-columns: repeat(2, auto);
    row-gap: 0;
  }
  /*--Reviews--*/
  .page__reviews {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .reviews__title {
    margin-bottom: 80px;
  }
  .reviews__swiper.swiper {
    margin-left: 0;
  }
  .slide-swiper-reviews {
    flex-direction: column;
  }
  .slide-swiper-reviews__picture {
    margin-bottom: 25px;
  }
}
/*----------------------------------------------------*/
@media (max-width: 500px) {
  .header__container {
    gap: 20px;
  }
  .header__logo {
    width: 28px;
    overflow: hidden;
    flex: 0 0 28px;
  }
  .menu {
    padding: 0;
  }
  .menu__list {
    column-gap: 20px;
  }
  .main__content {
    flex: 1 1 100%;
    padding-right: 0;
    padding-top: 80px;
  }
  .main__decor {
    display: none;
  }
  .actions-main {
    flex-wrap: wrap;
    justify-content: center;
  }
  .actions-main__button {
    flex: 1 1 100%;
  }
  .actions-main__button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .item-store__image:not(:last-child) {
    margin-bottom: 0;
  }
  /*--Categories--*/
  .categories_items {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 15px;
    row-gap: 15px;
  }
  /*--Brands--*/
  .brands__items {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    row-gap: 25px;
    column-gap: 15px;
  }
  /*--Why--*/
  .page__why {
    padding: 50px 0 50px;
  }
  .why__title {
    margin-bottom: 0;
  }
  .why__items {
    grid-template-columns: repeat(1, auto);
    row-gap: 0;
  }
  .item-why {
    padding-bottom: 0;
  }
  /*Reviews*/
  .reviews__title {
    margin-bottom: 30px;
  }
  .slide-swiper-reviews__image {
    width: 240px;
    height: 240px;
  }
  .slide-swiper-reviews__image::before {
    display: none;
  }
  .slide-swiper-reviews__text {
    font-size: 18px;
  }
  .slide-swiper-reviews__text:not(:last-child) {
    margin-bottom: 30px;
  }
  .slide-swiper-reviews__name {
    font-size: 18px;
  }
  .slide-swiper-reviews__position {
    font-size: 14px;
  }
  /*Favorite*/
  .page__favorite {
    margin-bottom: 30px;
  }
  .favorite__title {
    font-size: 38px;
  }
}

/*# sourceMappingURL=media.css.map */
