@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("CalSans-SemiBold.woff2") format("woff2"), url("CalSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  line-height: 1;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

body {
  color: #666666;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}
.page__store {
  margin-top: 80px;
  margin-bottom: 180px;
}
.page__categories {
  margin-bottom: 220px;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: CalcSans, sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2;
  color: #121212;
  text-align: center;
}
.title span {
  color: #ff6428;
}

/* <header> */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 130px;
  align-items: center;
  min-height: 152px;
}
.menu {
  padding: 8px 16px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.menu__list {
  display: flex;
  column-gap: 56px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.menu__link {
  color: #A0A0A0;
  font-weight: 500;
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: #ff6428;
}

/* <main> */
.main {
  padding-bottom: 80px;
}
.main__container {
  display: flex;
}
.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding-bottom: 60px;
  padding-top: 140px;
  border-right: 20px;
}
.main__title {
  font-family: CalSans, sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
  color: #121212;
}
.main__title span {
  color: #ff6428;
}
.main__title:not(:last-child) {
  margin-bottom: 16px;
}
.main_desc {
  font-weight: 500;
  line-height: 24px;
  max-width: 420px;
}
.main_desc:not(:last-child) {
  margin-bottom: 33px;
}
.main__image {
  position: relative;
  margin-right: -135px;
  max-width: 672px;
}
.main__image img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 0 0 151px 360px;
}
.main__image::after {
  content: "";
  position: absolute;
  background-image: url("../src/images/main/decor.svg");
  width: 80px;
  height: 80px;
  right: 36.3%;
  transform: translate(0, 50%);
  bottom: 0;
}

.actions-main {
  display: flex;
  align-items: center;
}
.actions-main__button {
  display: inline-block;
  padding: 18px 48px;
  background-color: #ff6428;
  border-radius: 40px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s ease;
}
.actions-main__button:hover {
  background-color: #121212;
  transform: translate(0, -4px);
}
.actions-main__button:active {
  background-color: #2c2c2c;
  transform: translate(0, 8px);
}
.actions-main__button:not(:last-child) {
  margin-right: 40px;
}
.actions-main__icon:not(:last-child) {
  margin-right: 30px;
}

/* .store */
.store__title {
  margin-bottom: 86px;
}
.body-store__header {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.body-store__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: #121212;
  text-transform: uppercase;
}
.body-store__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #868686;
  transition: all 0.3s ease;
}
.body-store__btn:hover {
  color: #ff6428;
}
.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}
.item-store {
  display: grid;
}
.item-store__image {
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}
.item-store__image img {
  max-width: 100%;
}
.item-store__image:not(:last-child) {
  margin-bottom: 40px;
}
.item-store__title {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121212;
  justify-self: start;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}
.item-store__title:hover {
  border-bottom-color: #121212;
}
.item-store__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

/*--Categories--*/
.categories_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 35px;
}
.categories__title {
  margin-bottom: 80px;
}
.item-category {
  position: relative;
  transition: all 0.3s ease;
}
.item-category__title {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  z-index: 2;
  width: 100%;
}
.item-category__image {
  position: relative;
  padding-bottom: 127%;
  overflow: hidden;
  border-radius: 20px;
}
.item-category__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.3s ease;
}
.item-category__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45) 100%);
}
.item-category:hover .item-category__image img {
  transform: scale(1.1);
}

/*--Brands--*/
.page__brands {
  margin-bottom: 180px;
}

.brands__title {
  margin-bottom: 75px;
}
.brands__items {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
  row-gap: 80px;
}
.brands__item {
  text-align: center;
}
.brands__item img {
  max-width: 100%;
}

/*--Why--*/
.page__why {
  padding: 95px 0 55px;
}

.why {
  background-color: #121212;
}
.why__title {
  margin-bottom: 40px;
  color: #FFFFFF;
}
.why__items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  gap: 30px;
}
.item-why {
  display: grid;
  justify-items: center;
  padding: 40px;
  text-align: center;
}
.item-why__icon {
  background-color: #262626;
  border-radius: 20px;
  display: flex;
  width: 72px;
  height: 72px;
  justify-content: center;
  align-items: center;
}
.item-why__icon:not(:last-child) {
  margin-bottom: 40px;
}
.item-why__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
.item-why__title:not(:last-child) {
  margin-bottom: 12px;
}
.item-why__text {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  max-width: 230px;
}

/*--Reviews--*/
.page__reviews {
  margin-top: 240px;
  margin-bottom: 240px;
}

.reviews__title {
  margin-bottom: 110px;
}

.swiper-reviews__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translate(0 -100%);
}
.swiper-reviews__pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #C4C4C4;
  border-radius: 20px;
  flex: 0 1 10px;
  height: 16px;
  transition: all 0.3s ease;
}
.swiper-reviews__pagination .swiper-pagination-bullet-active {
  background-color: #ff6428;
  flex: 0 1 24px;
  height: 12px;
}

.slide-swiper-reviews {
  display: flex;
}
.slide-swiper-reviews__picture {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slide-swiper-reviews__image {
  width: 320px;
  height: 320px;
  position: relative;
}
.slide-swiper-reviews__image::before {
  content: "";
  position: absolute;
  width: 285px;
  height: 255px;
  top: 40px;
  left: -60px;
  transform: rotate(-8deg);
  background-color: #ff6428;
  border-radius: 40px 40px 400px 400px;
}
.slide-swiper-reviews__image img {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.slide-swiper-reviews__body {
  flex: 0 1 50%;
  margin-bottom: 30px;
}
.slide-swiper-reviews__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
}
.slide-swiper-reviews__text:not(:last-child) {
  margin-bottom: 56px;
}
.slide-swiper-reviews__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  color: #121212;
}
.slide-swiper-reviews__name:not(:last-child) {
  margin-bottom: 8px;
}
.slide-swiper-reviews__position {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #868686;
  text-transform: uppercase;
}

/*--Favorite--*/
.page__favorite {
  margin-bottom: 120px;
}

.favorite__container {
  display: flex;
  align-items: center;
}
.favorite__body {
  flex: 0 1 50%;
}
.favorite__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.4;
  text-align: left;
}
.favorite__title:not(:last-child) {
  margin-bottom: 60px;
}
.favorite__images {
  flex: 0 1 50%;
  text-align: center;
}
.favorite__images img {
  max-width: 100%;
}

.apps-favorite {
  display: flex;
  gap: 25px;
}
.apps-favorite__item img {
  max-width: 100%;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.apps-favorite__item img:hover {
  opacity: 1;
}

/*--Footer--*/
.footer {
  background-color: #EEE;
}

/*# sourceMappingURL=style.css.map */
